In [2]:
import pandas as pd 
import boto3
import os

Here we establish an S3 client and resource to be able to run S3 operations.

In [29]:
access_key_id = 'AKIAZZ33YB65GZIN656A'
secret_access_key = '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'

In [30]:
s3_client = boto3.client(
    's3',
    aws_access_key_id=access_key_id,
    aws_secret_access_key=secret_access_key,
)

In [31]:
s3_resource = boto3.resource(
    's3',
    aws_access_key_id=access_key_id,
    aws_secret_access_key=secret_access_key,
)

Here we list the objects in the bucket and load them to a local `data/` directory for temporary staging.

In [36]:
bucket_name = 'mindex-data-analytics-code-challenge'
bucket = s3_resource.Bucket(bucket_name)

dst_directory = 'data/'
os.makedirs(dst_directory, exist_ok = True)

for s3_object in bucket.objects.all():
    filename = s3_object.key
    s3_client.download_file(bucket_name, filename, os.path.join(dst_directory, filename))

Now we load the data into pandas and merge it together, ensuring that the names are unique and easy to understand.

In [19]:
bengals = pd.read_csv('data/bengals.csv')
boyd_receiving = pd.read_csv('data/boyd_receiving.csv')
chase_receiving = pd.read_csv('data/chase_receiving.csv')
higgins_receiving = pd.read_csv('data/higgins_receiving.csv')

In [20]:
bengals.head()

   Week Opponent Location  Result
0  PRE1       TB     Away     1.0
1  PRE2      WSH     Away     0.0
2  PRE3      MIA     Home     0.0
3  REG1      MIN     Home     1.0
4  REG2      CHI     Away     0.0

In [21]:
boyd_receiving = boyd_receiving.rename(columns = {'Yards': 'Boyd_Yards', 'TD': 'Boyd_TD'})
boyd_receiving.head()

   Week  Boyd_Yards  Boyd_TD
0  REG1          32        0
1  REG2          73        0
2  REG3          36        1
3  REG4         118        0
4  REG5          24        0

In [22]:
chase_receiving = chase_receiving.rename(columns = {'Yards': 'Chase_Yards', 'TD': 'Chase_TD'})
chase_receiving.head()

   Week  Chase_Yards  Chase_TD
0  REG1          101         1
1  REG2           54         1
2  REG3           65         2
3  REG4           77         0
4  REG5          159         1

In [23]:
higgins_receiving = higgins_receiving.rename(columns = {'Yards': 'Higgins_Yards', 'TD': 'Higgins_TD'})
higgins_receiving.head()

   Week  Higgins_Yards  Higgins_TD
0  REG1             58           1
1  REG2             60           1
2  REG5             32           0
3  REG6             44           0
4  REG7             62           0

We will choose a left join in order to preserve all game records.

In [43]:
merged = pd.merge(bengals, boyd_receiving, on = 'Week', how = 'left')
merged = pd.merge(merged, chase_receiving, on = 'Week', how = 'left')
merged = pd.merge(merged, higgins_receiving, on = 'Week', how = 'left')

In [44]:
merged.head()

,Week,Opponent,Location,Result,Boyd_Yards,Boyd_TD,Chase_Yards,Chase_TD,Higgins_Yards,Higgins_TD
0,PRE1,TB,Away,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,PRE2,WSH,Away,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,PRE3,MIA,Home,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,REG1,MIN,Home,1.0,32.0,0.0,101.0,1.0,58.0,1.0
4,REG2,CHI,Away,0.0,73.0,0.0,54.0,1.0,60.0,1.0

In [46]:
result_mapping = {
    1: 'Win',
    0: 'Loss',
}

merged['Result'] = merged['Result'].map(result_mapping)

In [47]:
merged.head()

,Week,Opponent,Location,Result,Boyd_Yards,Boyd_TD,Chase_Yards,Chase_TD,Higgins_Yards,Higgins_TD
0,PRE1,TB,Away,Win,NaN,NaN,NaN,NaN,NaN,NaN
1,PRE2,WSH,Away,Loss,NaN,NaN,NaN,NaN,NaN,NaN
2,PRE3,MIA,Home,Loss,NaN,NaN,NaN,NaN,NaN,NaN
3,REG1,MIN,Home,Win,32.0,0.0,101.0,1.0,58.0,1.0
4,REG2,CHI,Away,Loss,73.0,0.0,54.0,1.0,60.0,1.0

## Writing Data to PostgreSQL

In [48]:
from sqlalchemy import create_engine
import getpass

host = 'ls-2619b6b15c9bdc80a23f6afb7eee54cf0247da21.ca3yee6xneaj.us-east-1.rds.amazonaws.com'

db_name = 'postgres'
table_name = 'christopher_carter'

username = 'christopher_carter'
password = 'christophercarter'

In [49]:
con = create_engine(f'postgresql+psycopg2://{username}:{password}@{host}:5432/postgres')

In [50]:
merged.to_sql(table_name, con=con, if_exists='replace', index=False)

25

In [51]:
len(bengals), len(boyd_receiving), len(chase_receiving), len(higgins_receiving)

(25, 20, 21, 18)

In [ ]:
len